{% extends 'layout.html' %}
{% block content %}
    <div class="container py-5">
        <div class="card">
            <div class="card-body text-center">
                <h1>Cel aplikacji</h1>
                <p>Celem aplikacji jest zbieranie danych o produkcie, którego id wprowadza sam użytkownik</p>
          </div>
          <div class="card mt-5">
            <div class="card-body text-center">
                <h1>Działanie aplikacji</h1>
                <p>Aplikacja zbiera informacje z recenzji produktów z serwisu Ceneo.pl, a następnie wyświetla je w wygodnej tabeli. Na podstawie tych danych tworzy również tabele.</p>
            </div>
          </div>
          <div class="card mt-5">
            <div class="card-body text-center">
                <h1>Zastosowane biblioteki</h1>
                <p>Biblioteki zastwosowane w projekcie to: BeautifulSoup4, Requests, Bootstrap, Flask, Matplotlib, Numpy, Pandas</p>
            </div>
          </div>
          <div class="card mt-5">
            <div class="card-body text-center">
                <h1>Zastosowane podejścia</h1>
                <p>Only god knows what that means</p>
            </div>
          </div>
    </div>

{% endblock %}